---
layout: default
---

{% assign posts = site.posts %}
{%- if posts.size > 0 -%}
<ul class="post-list row">
    {%- for post in posts -%}
    <li class="col-xxl-4 col-xl-6">
        <div class="post-card">
            <div class="post-image"></div>
            <div class="post-card-content">
                {%- include post-header.html -%}
                <p>{{ post.excerpt }}</p>
                {%- include post-meta.html -%}
            </div>

        </div>
    </li>
    {%- endfor -%}
</ul>
{% endif %}